div.page-header
  div.page-title
    h3 Dashboard
    span Good morning, Magee!
  ul.page-stats
    li
      div.summary
        span New Orders
        h3 17,561
      div#sparkline-bar.graph.sparkline.hidden-xs 20,15,8,50,20,40,20,30,20,15,30,20,25,20
      //Use instead of sparkline e.g. this: <div class="graph circular-chart" data-percent="73">73%</div>
    li
      div.summary
        span My balance
        h3 $21,561.21
      div#sparkline-bar2.graph.sparkline.hidden-xs 20,15,8,50,20,40,20,30,20,15,30,20,25,20

