extends layout

block content
  include header
  div#container
    include sidebar
    div#content
      div.container
        include breadcrumbs
        include content-header
        //=== Page Content ===
        //=== Statboxes ===
        div.row.row-bg
          div.col-sm-6.col-md-3
            div.statbox.widget.box.box-shadow
              div.widget-content
                div.visual.cyan
                  div.statbox-sparkline 30,20,15,30,22,25,26,30,27
                div.title Clients
                div.value 4 501
                a.more(href='javascript:void(0);') View More
                  i.pull-right.icon-angle-right
          div.col-sm-6.col-md-3
            div.statbox.widget.box.box-shadow
              div.widget-content
                div.visual.green
                  div.statbox-sparkline 20,30,30,29,22,15,20,30,20
                div.title Feedback
                div.value 714
                a.more(href='javascript:void(0);') View More
                  i.pull-right.icon-angle-right
          div.col-sm-6.col-md-3.hidden-xs
            div.statbox.widget.box.box-shadow
              div.widget-content
                div.visual.yellow
                  i.icon-dollar
                div.title Total Profit
                div.value $42,512.61
                a.more(href='javascript:void(0);') View More
                  i.pull-right.icon-angle-right
          div.col-sm-6.col-md-3.hidden-xs
            div.statbox.widget.box.box-shadow
              div.widget-content
                div.visual.red
                  i.icon-user
                div.title Visitors
                div.value 2,521,719
                a.more(href='javascript:void(0);') View More
                  i.pull-right.icon-angle-right

        //=== Blue Chart ===
        div.row
          div.col-md-12
            div.widget.box
              div.widget-header
                h4
                  i.icon-reorder
                  | Total Clicks (
                  span.blue +29%
                  | )
                div.toolbar.no-padding
                  div.btn-group
                    span.btn.btn-xs.widget-collapse
                      i.icon-angle-down
              div.widget-content
                div#chart_filled_blue.chart
              div.divider
              div.widget-content
                ul.stats
                  li
                    strong 4,853
                    small Total Views
                  li.light.hidden-xs
                    strong 271
                    small Last 24 Hours
                  li
                    strong 1,025
                    small Unique Users
                  li.light.hidden-xs
                    strong 105
                    small Last 24 Hours

        div.row
          //=== Sin/Cos Chart
          div.col-md-6
            div.widget.box
              div.widget-header
                h4
                  i.icon-reorder
                  | Sine/Cosine
                div.toolbar.no-padding
                  div.btn-group
                    span.btn.btn-xzs.widget-collapse
                      i.icon-angle-down
              div.widget-content
                div#chart_simple.chart(style='height: 219px')

          //=== Static Table

          div.col-md-6
            div.widget.box
              div.widget-header
                h4
                  i.icon-reorder
                  | New Users
                div.toolbar.no-padding
                  div.btn-group
                    span.btn.btn-xzs.widget-collapse
                      i.icon-angle-down
              div.widget-content.no-padding
                table.table.table-striped.table-checkable.table-hover
                  thead
                    tr
                      th.checkbox-column
                        input.uniform(type='checkbox')
                      th.hidden-xs First Name
                      th Last Name
                      th Status
                      th.align-center Approve
                  tbody
                    tr
                      td.checkbox-column
                        input.uniform(type='checkbox')
                      td.hidden-xs Joey
                      td Greyson
                      td
                        span.label.label-success Approved
                      td.align-center
                        span.btn-group
                          a.btn.btn-xs.bs-tooltip(href='javascript:void(0);' title='Approve')
                            i.icon-ok
                    tr
                      td.checkbox-column
                        input.uniform(type='checkbox')
                      td.hidden-xs Wolf
                      td Bud
                      td
                        span.label.label-success Pending
                      td.align-center
                        span.btn-group
                          a.btn.btn-xs.bs-tooltip(href='javascript:void(0);' title='Approve')
                            i.icon-ok
                    tr
                      td.checkbox-column
                        input.uniform(type='checkbox')
                      td.hidden-xs Darin
                      td Alec
                      td
                        span.label.label-success Suspended
                      td.align-center
                        span.btn-group
                          a.btn.btn-xs.bs-tooltip(href='javascript:void(0);' title='Approve')
                            i.icon-ok
                    tr
                      td.checkbox-column
                        input.uniform(type='checkbox')
                      td.hidden-xs Andrea
                      td Brenden
                      td
                        span.label.label-success Blocked
                      td.align-center
                        span.btn-group
                          a.btn.btn-xs.bs-tooltip(href='javascript:void(0);' title='Approve')
                            i.icon-ok
                div.row
                  div.table-footer
                    div.col-md-12
                      div.table-actions
                        label Apply action:
                        select.select2(data-minimum-results-for-search='-1' data-placeholder='Select action...')
                          option(value='Edit') Edit
                          option(value='Delete') Delete
                          option(value='Move') Move
        div.row
          //=== Calendar ===
          div.col-md-6
            div.widget
              div.widget-header
                h4
                  i.icon-calendar
                  | Calendar
              div.widget-content
                div#calendar
          //=== Feeds (with Tabs) ===
          div.col-md-6
            div.widget
              div.widget-header
                h4
                  i.icon-reorder
                  | Feeds
                div.toolbar.no-padding
                  div.btn-group
                    span.btn.btn-xs.widget-collapse
                      i.icon-angle-down
                    span.btn.btn-xs.widget-refresh
                      i.icon-refresh
              div.widget-content
                div.tabbable.tabbable-custom
                  ul.nav.nav-tabs
                    li.active
                      a(href='#tab_feed_1' data-toggle='tab') System
                    li
                      a(href='#tab_feed_2' data-toggle='tab') Activities
                  div.tab-content
                    div.tab-pane.active#tab_feed_1
                      div.scroller(data-height='290px' data-always-visible='1' data-rail-visible='0')
                        ul.feeds.clearfix
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-bell
                                div.content-col2
                                  div.desc You have 2 puzzles to solve
                            div.col2
                              div.date Just now
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New user registered.
                            div.col2
                              div.date 20 mins ago
                          li.hoverable
                            a(href='javascript:void(0);')
                              div.col1
                                div.content
                                  div.content-col1
                                    div.label.label-info
                                      i.icon-bullhorn
                                  div.content-col2
                                    div.desc New items are in queue.
                              div.col2
                                div.date 25 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-danger
                                    i.icon-warning-sign
                                div.content-col2
                                  div.desc High CPU load on cluster #2.
                                    span.label.label-danger.label-mini Fix it
                                      i.icon-share-alt
                            div.col2
                              div.date 30 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-warning
                                    i.icon-bolt
                                div.content-col2
                                  div.desc Disk space to 85% full.
                            div.col2
                              div.date 45 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New user registered.
                            div.col2
                              div.date 1 hour ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-default
                                    i.icon-time
                                div.content-col2
                                  div.desc Time successfully synced.
                            div.col2
                              div.date 1.5 hours ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-info
                                    i.icon-bullhorn
                                div.content-col2
                                  div.desc Download finished.
                            div.col2
                              div.date 1.8 hours ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New order received.
                            div.col2
                              div.date 2 hours ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-info
                                    i.icon-bullhorn
                                div.content-col2
                                  div.desc Download finished.
                            div.col2
                              div.date 3 hours ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New order received.
                            div.col2
                              div.date 5 hours ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-info
                                    i.icon-bullhorn
                                div.content-col2
                                  div.desc Download finished.
                            div.col2
                              div.date 5.5 hours ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New order received.
                            div.col2
                              div.date 7 hours ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-info
                                    i.icon-bullhorn
                                div.content-col2
                                  div.desc Download finished.
                            div.col2
                              div.date 16 hours ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New order received.
                            div.col2
                              div.date 20 hours ago
                    div.tab-pane#tab_feed_2
                      div.scroller(data-height='290px' data-always-visible='1' data-rail-visible='0')
                        ul.feeds.clearfix
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New user registered.
                            div.col2
                              div.date 1 min ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New user registered.
                            div.col2
                              div.date 5 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-info
                                    i.icon-plus
                                div.content-col2
                                  div.desc New order received.
                            div.col2
                              div.date 10 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New user registered.
                            div.col2
                              div.date 20 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-info
                                    i.icon-plus
                                div.content-col2
                                  div.desc New order received.
                            div.col2
                              div.date 30 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New user registered.
                            div.col2
                              div.date 40 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-info
                                    i.icon-plus
                                div.content-col2
                                  div.desc New order received.
                            div.col2
                              div.date 50 mins ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-success
                                    i.icon-plus
                                div.content-col2
                                  div.desc New user registered.
                            div.col2
                              div.date 1 hour ago
                          li
                            div.col1
                              div.content
                                div.content-col1
                                  div.label.label-info
                                    i.icon-plus
                                div.content-col2
                                  div.desc New order received.
                            div.col2
                              div.date 1.5 hours ago
