extends layout

block content
  include header
  div#container
    include sidebar
    div#content
      div.container
        include breadcrumbs
        include content-header
        //=== Page Content ===
        div(ng-controller='Infusionsoft')
        	div.span10
        		ul
        			li(ng-repeat='product in products')
        				{{Id}}: {{ProductName}}
