/* ========================================================
*
* Melon - Flat & Responsive Admin Template
*
* ========================================================
*
* File: main.css
* Description: General template styles, including bootstrap components
* Version: 1.0
*
* ======================================================== */

@import "general/mixins.styl";
@import "general/variables.styl";

/* # General styles
================================================== */

// Remove Chrome's Orange Outline
* {
	outline: none !important;
}

html, body {
	height: 100%;
}

body {
	font-family: $baseFontFamily;
	color: $textColor;
	font-size: $baseFontSize;
	//overflow-y: scroll;
}

/* # Layout
================================================== */

@import "general/layout.styl";

/* # Typography
================================================== */

@import "general/typography.styl";

/* # Header
================================================== */

@import "general/navbar.styl";

/* # Dropdowns
================================================== */

@import "general/dropdowns.styl";

/* # Sidebar & Navigation
================================================== */

@import "general/sidebar_navigation.styl";

/* # Breadcrumb
================================================== */

@import "general/breadcrumb.styl";

/* # Buttons
================================================== */

@import "general/buttons.styl";

/* # Widgets
================================================== */

@import "general/widgets.styl";

/* # General UI
================================================== */

@import "general/general_ui.styl";

/* # Progressbars
================================================== */

@import "general/progressbars.styl";

/* # Forms
================================================== */

@import "general/forms.styl";

/* # Tables
================================================== */

@import "general/tables.styl";

/* # Charts
================================================== */

@import "general/charts.styl";

/* # Statistics
================================================== */

@import "general/statistics.styl";

/* # Tabs
================================================== */

@import "general/tabs.styl";

/* # Modals
================================================== */

@import "general/modals.styl";

/* # Invoice
================================================== */

@import "general/invoice.styl";

/* # Themes
================================================== */

@import "themes/dark.styl";